<h1>Listing event_logs</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Annotation</th>
    <th>Reference</th>
    <th>Reference type</th>
    <th>Created at</th>
    <th>Created by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_logs.each do |event_log| %>
  <tr>
    <td><%= event_log.event %></td>
    <td><%= event_log.annotation %></td>
    <td><%= event_log.reference_id %></td>
    <td><%= event_log.reference_type %></td>
    <td><%= event_log.created_at %></td>
    <td><%= event_log.created_by %></td>
    <td><%= link_to 'Show', event_log %></td>
    <td><%= link_to 'Edit', edit_event_log_path(event_log) %></td>
    <td><%= link_to 'Destroy', event_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event log', new_event_log_path %>
