<h1>Listing creatures</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Is alive</th>
    <th>Has ring</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @creatures.each do |creature| %>
  <tr>
    <td><%= creature.name %></td>
    <td><%= creature.latitude %></td>
    <td><%= creature.longitude %></td>
    <td><%= creature.is_alive %></td>
    <td><%= creature.has_ring %></td>
    <td><%= link_to 'Show', creature %></td>
    <td><%= link_to 'Edit', edit_creature_path(creature) %></td>
    <td><%= link_to 'Destroy', creature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Creature', new_creature_path %>
