<%= link_to 'home', root_path %>
<h3> Ring's latitude: <%= Ring.instance.latitude %></h3>
<h3> Ring's longitude: <%= Ring.instance.longitude %></h3>
<h1>New creature</h1>
<br />
<br />

<%= render 'form' %>

<%= link_to 'Back', creatures_path %>
