<%= link_to 'home', root_path %>
<%= link_to "Creatures", creatures_path %>
<%= link_to "Event Logs", event_logs_path %>
<h1>Listing creature_histories</h1>
<h3> Ring's latitude: <%= Ring.instance.latitude %></h3>
<h3> Ring's longitude: <%= Ring.instance.longitude %></h3>
<br />
<br />

<% if @creature_histories.present? %>
<table>
  <tr>
    <th>Id</th>
    <th>Event log</th>
    <th>Creature</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Is alive</th>
    <th>Has ring</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @creature_histories.each do |creature_history| %>
  <tr>
    <td><%= creature_history.id %></td>
    <td><%= creature_history.event_log.annotation %></td>
    <td><%= creature_history.creature.name %></td>
    <td><%= creature_history.latitude %></td>
    <td><%= creature_history.longitude %></td>
    <td><%= creature_history.is_alive %></td>
    <td><%= creature_history.has_ring %></td>
    <td><%= creature_history.created_at %></td>
    <td><%#= link_to 'Show', creature_history %></td>
    <td><%#= link_to 'Edit', edit_creature_history_path(creature_history) %></td>
    <td><%#= link_to 'Destroy', creature_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% else %>
    No Creature History Exists. Please <%= link_to 'Create New Creature', new_creature_path %> first!
<% end %>
<br />

<%#= link_to 'New Creature history', new_creature_history_path %>
